<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Wikipedia Viewer App</title>
  <link rel="stylesheet" href="./style.css">
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.2/angular-animate.min.js'></script>
  <script src="./script.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<!-- h1 data-shadow='Wikipedia Viewer App'>Wikipedia Viewer App</h1 -->
  <main ng-app="WikiApp" ng-controller="MainCtrl">
    <div class="wrapper fullHeight">
      <div id="search">
        <form ng-submit="search()">
          <input type="text" ng-model="searchTxt"/>
          <div class="eks"></div>
        </form>
      </div>
      <a class="button" href="https://en.wikipedia.org/wiki/Special:Random" target="_blank" rel='norefferer' style='text-decoration: none;'><span>Surprise Me</span></a>
    </div>
    <div class="wrapper">
      <ul><a ng-href="{{result.page}}" target="_blank" ng-repeat="result in results" rel="noreferrer">
          <li>
            <h1><result class="title">{{result.title}}</result></h1>
            <p><result class="body">{{result.body}}</result></p>
          </li></a></ul>
    </div>
  </main>
<!-- partial -->
<footer style="text-align:center;position: -webkit-sticky;">
  created by <a href="https://hannymaharani99.github.io/" target="_blank" rel="noreferrer" style="text-decoration:none;">hannymaharani99</a>
</footer>
</body>
</html>
